
h3{
    padding-top: 50px;
    padding-bottom: 10px;
}

#mainStyle{ 
    /* for the body */
    background-color: #161616 !important;
    color: #fff !important;
    letter-spacing: .0625em;
    width: 100%;
}

img{
    
    height: "400";
    width: "520";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#quotePage{
    padding: 20vh 15vw 45vh 13vw;
    height: 100vh !important;
    background: linear-gradient( #161616, #3f3f3f)
    
}

#aboutPage{
    height: 100vh !important;
    padding: 20vh 15vw 45vh 13vw;
    font-size: 2.4vh;
    background: linear-gradient( #3f3f3f, #545454)
}

#projectsPage{
    padding: 10vh 10vw ;
    background: linear-gradient(  #545454, #696969)
}

#projectDescription{
    padding: 2vh 5vw 5vh 5vw;
    /* padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px; */
}

#separator{
    height:0.4vh;
    background-color: #161616;
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}



.col-sm{ 
}

.row{
    padding-top: 10px;
}