
h3{
    padding-top: 50px;
    padding-bottom: 10px;
}

#projectDescription{
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
}

#aboutPage{
    border: 1px solid red;
    padding: 50px 50px 30px 50px;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top:50px; */
}

#mainStyle{
    background-color: #161616 !important;
    color: #fff !important;
    letter-spacing: .0625em;
}

#quote{
    padding: 50px 50px 90px 50px;
    width: 95%;
    height: 100% !important;
    border: 1px solid red;
    
}

.col-sm{ 
    border:1px solid red;
}

.row{
    padding-top: 10px;
}